/*** Custom CSS for Ribbet ***/

.orbit-container {
	text-align: center;
}

.orbit-container div {
	background: lightgray;
}

.button-group,
.orbit-bullets {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

hr {
	border: 0;
	border-bottom: 2px dotted #ccc;
	background: #fff;
}

/***  Icons  ***/

[class*="fi-"] {
	font-size: 3em;
	text-align: center;
	color: #2ba6cb;
	display: block;
}